@import url(./main.css);

.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

.flip-container {
  perspective: 1000px;
  width: 1000px;
  height: 600px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

.auth-container.front,
.auth-container.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  box-shadow: 6px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
}

.auth-container.back {
  transform: rotateY(180deg);
}

.left-content-side {
  width: 50%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}

.left-content-side h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color);
}

.left-content-side h5 {
  font-size: 1rem;
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.left-content-side a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}

.left-content-side a:hover {
  color: var(--hover-accent-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 12px;
  padding: 30px;
  animation: fadeIn 0.5s ease forwards;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 0px 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f5f5f5;
  color: #333;
  font-size: 0.95rem;
  outline: none;
  transition: all 0.3s ease;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #555;
}

.input-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.input-wrapper i:hover {
  color: var(--accent-color);
}

.input-wrapper input:focus {
  border-color: var(--accent-color);
}

.btn-auth {
  background: var(--accent-color);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-auth:hover {
  background: var(--hover-accent-color);
  transform: scale(1.03);
}

.btn-auth:active {
  transform: scale(0.98);
}

.right-content-side {
  width: 55%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.right-content-side h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.right-content-side p {
  max-width: 400px;
  line-height: 1.5;
}

.right-content-side img {
  width: 110%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**/