<!-- Modal de Compra -->

<div class="modal-market-content">
  <div class="skin-card-modal">
    <div class="skin-header">
      <div class="skin-name">Skin Name</div>
      <div class="skin-sub">Factory New</div>
    </div>

    <div class="skin-thumb">
      <img id="modalSkinImg" src="" alt="Skin" />
    </div>

    <div class="skin-meta">
      <div class="price">€0.00</div>
    </div>

    <div class="actions">
      <button class="btn btn-cancel">Cancel</button>
      <button class="btn btn-buynow-confirm">Confirm Buy</button>
    </div>
  </div>
</div>
