<link rel="stylesheet" href="../styles/navbar.css">

<nav class="navbar">
  <a href="../index.html" class="logo-link">
    <img src="https://i.postimg.cc/K8D91Q8Y/Chat-GPT-Image-5-11-2025-00-32-44-Photoroom.png" class="Logo-nav"
      alt="Logo">
  </a>
  <a href="../Marketplace/index.html">Market</a>
  <a href="../inventory/index.html">Inventory</a>
  <a href="../index.html#FAQ">FAQ</a>

  <div class="right-navbar">
    <div class="logged-out">
      <a href="../login/index.html#login" class="signin-button">Sign In</a>
      <a href="../login/index.html#register" class="signup-button">Sign Up</a>
    </div>

    <div class="logged-in" style="display: none;">

      <span class="user-name"></span>
      <div class="teste">
        <span class="user-funds">0</span>
      </div>

      <div class="add-icon">+</div>
      
      <a href="#" class="logout-button">Logout</a>
    </div>
  </div>
</nav>